.Analytics {
  display: flex;
  gap: 20px;
  flex-direction: column;
  max-width: 74%;
  margin: auto;
}
.summary-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.total {
  display: flex;
  gap: 10px;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
}
.highest-expense {
  display: flex;
  gap: 10px;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
}
.category-breakdown,
.monthly-breakdown {
  display: flex;
  gap: 10px;
  flex-direction: column;
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}
.year {
  flex-grow: 1;
}
.category-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
  gap: 16px;
  align-items: center;
}
.monthly-row {
  display: flex;
  gap: 30px;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background-color: #ddd;
  border-radius: 20px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  background-color: #4caf50;
  border-radius: 20px;
}
.no-expense {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  font-size: 32px;
  opacity: 0.6;
}
.ai-analysis {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.ai-input-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
#textarea {
  flex-grow: 1;
  padding: 10px;
  border-radius: 8px;
  max-width: 500px;
}
#AskAI {
  padding: 10px;
}
